/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg-dark: #966C47;
  --bg-light: white;
  --container-light: #6085A6;
  --container-dark: #2C75DB;
  --border: #038282;
  --text-color: black;
  --title-color: black;
  --text-dark: black;

  /* font-sizes */

  /* Mobile devices */
  --fs-sm-mobile: .8rem;
  --fs-p-mobile: .9rem;
  --fs-h1-mobile: 1.8rem;
  --fs-h2-mobile: 1.5rem;
  --fs-h3-mobile: 1.3rem;
  --fs-h4-mobile: 1.2rem;
  --fs-h5-mobile: 1.1rem;

  /*  Tablets */
  --fs-sm-tablet: .9rem;
  --fs-p-tablet: 1rem;
  --fs-h1-tablet: 2.5rem;
  --fs-h2-tablet: 2.3rem;
  --fs-h3-tablet: 2.1rem;
  --fs-h4-tablet: 1.8rem;
  --fs-h5-tablet: 1.5rem;

  /*  Laptops - Desktops */
  --fs-sm-laptop: .9rem;
  --fs-p-laptop: 1.2rem;
  --fs-h1-laptop: 4rem;
  --fs-h2-laptop: 3.5rem;
  --fs-h3-laptop: 3rem;
  --fs-h4-laptop: 2.5rem;
  --fs-h5-laptop: 2rem;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: .8rem;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: var(--container-light);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--container-dark);
}

body{
  background: radial-gradient(circle at 50% 50%, rgba(255, 235, 59, 1) 20%, rgba(3, 169, 244, 1) 80%);
  color: black;
}

main{
  margin-top: 5rem;
}

/* Navbar */


.navbar-nav .nav-link,
.navbar .dropdown-item
{
  transition: all .6s;
}

.navbar-nav .nav-link:hover{
  color: red;
  transform: scale(1.2);
}


.navbar .dropdown-item:hover{
  color: red;
}


/* ------------------Blog----------------------------- */

  /* Containers */
  .content-section {
    background: var(--container-light);
    padding: 10px 20px;
    border: 2px solid var(--border);
    border-radius: 10px;
    margin-bottom: 20px;
    color:var(--text-color);
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .custom-comment, .reply {
    background-color: rgba(0,0,0,0.1); 
    padding: 1rem;
    border: .1rem solid black;
    border-radius: .315rem;
    margin-bottom: .625rem;
}

.reply {
    background-color:  rgba(0,0,0,0.3);
    padding: 1rem;
    border-radius: .315rem;
    margin-bottom: .625rem;
    margin-left: 1.3rem;
}

.comment-actions a {
  margin-right: 5px;
}


/* About */

.about-container{
  background: radial-gradient(circle at 50% 50%, rgba(255, 193, 7, 1) 20%, rgba(156, 39, 176, 1) 80%);
}

.about-container-offer{
  background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(3, 169, 244, 1) 100%);
}

.about-container-offer .list-group-item{
  background-color: transparent;
  border: none;
}
/*---------------------------------------- Logout */

.logout-container{
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  background-image: url('images/assets/books-2596809_640.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-content{
  width:  70%;
  height: 15rem;
  background: rgba(252, 250, 250, 0.808);
}

/*--------------------------------------------- Messagin app----------------------------------- */

.conversation-container{
  background: radial-gradient(circle at 50% 50%, rgba(255, 193, 7, 1) 20%, rgba(156, 39, 176, 1) 80%);
}

.messages {
  background-color: #428bca;
  border-radius: 1rem;
  min-height: 650px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.sent-message, .received-message {
  width: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin: 1rem;
  padding: 1rem;
  border-radius: 3rem;
}

.sent-message {
  background-color: #DCF8C6;
  margin-left: 0;
  margin-right: auto;
}

.received-message {
  background-color: #ECE5DD;
  margin-right: 0; 
  margin-left: auto; 
}

/* Send Message */
.custom-textarea {
  resize: none; 
  width: 100%; 
}

.message-container {
  background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(3, 169, 244, 1) 100%);
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-box {
  background: radial-gradient(circle at 50% 50%, rgba(255, 235, 59, 1) 20%, rgba(233, 30, 99, 1) 80%);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 600px;
}


/*----------------------------------------------- Profile--------------------------------------- */

/* ------------------------------------------------Book cover */



/* Details */

/* Tables */
.book-cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-cover {
  max-height: 100px;
  max-width: 100px;
}

/*  -----------------------------------------------Django Messages----------------------------*/

.alert {
  text-align: center;
  font-weight: bold;
  list-style: none;
}

/* --------------------------------------------------Home */

.home-container{
  background: radial-gradient(circle at 50% 50%, rgba(255, 193, 7, 1) 20%, rgba(156, 39, 176, 1) 80%);
  color: black;
}

  /* Carrousel */

/* Estilos personalizados para el carrusel */
#bookCarousel {
  background-color: black; /* Fondo gris para el contenedor */
}

#bookCarousel .carousel-inner {
  text-align: center; /* Centrar el contenido */
}

#bookCarousel .carousel-item img {
  max-width: 100%; /* Asegurarse de que las imágenes no se desborden */
  margin: 0 auto; /* Centrar horizontalmente las imágenes */
}


/* Cards */

.home-card{
  position: relative;
  width: 20.625rem;
  height: 31.25rem;
  border: none;
}

.home-card .face{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: .625rem;
  overflow: hidden;
  transition: all 1s;
}

.home-card .front{
  transform: perspective(37.5rem) rotateY(0deg);
  box-shadow: 0 .3125rem .625rem #000;
}

.home-card .front img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-card .back{
  transform: perspective(37.5rem) rotateY(180deg);
  background: black;
  padding: .9375rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 .3125rem .625rem #000;
  transition: all 1s;
}

.home-card .back .link{
  border-top: solid 1px #f3f3f3;
  height: 3.125rem;
  line-height: 3.125rem;
}

.home-card .back .link a{
  color: #f3f3f3;
}

.home-card .back h3,h4{
  font-size: 1rem;
  margin-top: 1.25rem;
  letter-spacing: .125rem;
}

.home-card:hover .front{
  transform: perspective(37.5rem) rotateY(180deg);
}

.home-card:hover .back{
  transform: perspective(37.5rem) rotateY(360deg);
}


/* Table description responsive */

.desc-limited {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: scroll;
  text-overflow: ellipsis;
}


/* Delete confirmation */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* ------------------------------------------------------------------------- FOOTER -------------------------------------------------------------------------  */

.social_icon {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: .3125rem;
  transition: all .5s ease-in-out;
}

.whatsapp_icon i {
  color: #25D366;
}

.github_icon i {
  color: white;
}

.youtube_icon i {
  color: #FF0000;
}

.social_icon:hover {
  transform: scale(1.8);
  filter: brightness(2) saturate(2);
}


/* ----------------------------------------------------------large screens------------------------------------------------------------ */
@media only screen and (min-width: 768px){ 
  /*---------------------------------------- Logout */

  .logout-container{
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    height: 58rem;

  }

.logout-content{
  width:  30%;
  height: 30%;
}
}