{% extends 'books/base.html' %}
{% load static %}
{% block content %}
<div class="card mb-2">
  <div class="card-header">
    <h2 class="card-title text-center">{{ object.name }}</h2>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 mb-2">
        {% if object.cover_image %}
        <img src="{{ object.cover_image.url }}" alt="{{ object.name }}" class="img-fluid">
        {% else %}
        <img src="{% static 'images/book_default.jpg' %}" alt="Default Book Image" class="img-fluid">
        {% endif %}
      </div>
      <div class="col-md-8 ">
        <h3 class="card-text">Author:</h3>
        <p>{{ object.author }}</p>
        <h3 class="card-text">Publisher: </h3>
        <p>{{ object.publisher }}</p>
        <h3 class="card-text">Publish Date: </h3>
        <p>{{ object.publish_date|date:"d/m/Y" }}</p>
        <h3 class="card-text">Language: </h3>
        <p>{{ object.language }}</p>
        <h3 class="card-text">Category: </h3>
        <p>{{ object.get_category_display }}</p>
        <h3 class="card-text">Description:  </h3>
        <p>{{ object.description }}</p>
        <div class="d-flex flex-wrap align-items-center">
          {% if user.is_authenticated %}
          {% if book.is_available %}
          <form method="post" action="{% url 'rent_book' book.id %}" class="me-2 mb-2 mb-lg-0">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Rent Book</button>
          </form>
          {% else %}
          <a href="#" class="btn btn-info me-2 mb-2 mb-lg-0">This book is currently not available</a>
          {% endif %}
          {% else %}
          <a href="{% url 'login' %}" class="btn btn-info me-2 mb-2 mb-lg-0">You need to login to Rent a Book</a>
          {% endif %}

          {% if user.is_authenticated and user.is_staff %}
          <a href="{% url 'book_update' book.id %}" class="btn btn-secondary me-2 mb-2 mb-lg-0">Edit</a>
          <a href="{% url 'book_delete' book.id %}" class="btn btn-danger mb-2 mb-lg-0">Delete</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <button class="btn btn-danger" type="button" onclick="history.back()">Back</button>
  </div>
</div>
{% endblock %}